---
import Layout from "@/layouts/Layout.astro";
import { LoginForm } from "@/components/auth/LoginForm";
import { TopBar } from "@/components/navigation/TopBar";

// We'll handle redirect client-side
---

<Layout title="Sign in - FlashAI">
  <TopBar client:load />
  <main class="container mx-auto px-4 sm:px-6 lg:px-8 flex items-center min-h-[calc(100vh-4rem)] py-8">
    <LoginForm client:load />
  </main>

  <script is:inline>
    // If user is already logged in, redirect to generate
    if (localStorage.getItem("auth_token")) {
      window.location.href = "/generate";
    }
  </script>
</Layout>
